:root {
  --background-color: #c4c4c4;
  --border-top-color: #5456dc;
}
.App {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar main";
}
/* sidebar */
.nav {
  background-color: var(--background-color);
  width: 17vw;
}
/* main */
.topbar {
  margin: 0px;
  display: flex;
  justify-content: center;
  width: 82.5vw;
  background-color: var(--background-color);
}
.topText {
  margin: 0%;
  font-size: 48px;
}
.daybox {
  border-top-left-radius: 25px;
  border-top: 8px solid var(--border-top-color);
  display: flex;
  flex-direction: row;
  max-width: 80vw;
  justify-content: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
}
.dayText {
  margin: 0%;
  font-size: 96px;
}
.overview {
  margin-top: 6%;
  margin-left: 16%;
  font-size: 24px;
}
.topics {
  box-shadow: 10px 10px 5px grey;
  border-top-left-radius: 25px;
  border-top: 8px solid var(--border-top-color);
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  margin-left: 5%;
  margin-right: 5%;
  height: 283px;
  justify-content: space-around;
}
.topicTitle {
  font-size: 48px;
  margin-top: 7%;
}
.scroll {
  box-shadow: 10px 10px 5px grey;
  display: block;
  background-color: #ffffff;
  padding: 5px;
  margin-top: 20px;
  width: 35%;
  height: 80%;
  overflow-y: scroll;
}
.submitBox {
  box-shadow: 10px 10px 5px grey;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin-top: 20px;
  width: 20%;
  height: 83%;
  text-align: center;
}
.inputBox {
  border: #ffffff;
  width: 98%;
  height: 90%;
}
.submitButton {
  /* border: none; */
  border-radius: 25px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-self: flex-end;
  width: 35%;
  height: 10%;
  margin: 13px;
}
